<nav class="navigation-bar">
  <a class="navigation-title" href="/">
    <app-chillbox-logo/>
    <h1>Chill<span>box</span></h1>
  </a>

  <div class="navigation-content">
    <app-navigation-link linkString="Accueil" linkStringHref="/"></app-navigation-link>
    <app-navigation-link linkString="Outils" linkStringHref="/"></app-navigation-link>
    <app-navigation-link linkString="Snippets" linkStringHref="/api"></app-navigation-link>
    <app-navigation-link linkString="LOGIN" linkStringHref="/login"></app-navigation-link>
    <app-navigation-link linkString="API" linkStringHref="/api"></app-navigation-link>
  </div>
</nav>
